@import './partials/variables';


* {
  margin: 0;
  padding: 0;
  font-family: $font-family-secondary;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: $color-paleWhite;
  h2 {
    color: $color-darkBrown;
  }
}

header {
  .fixed-icon {
    img {
      width: 60px;
      height: 60px;
      position: fixed;
      top: 700px;
      right: 0;
    }
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 196px;
    background-color: $color-paleWhite;
    z-index: 2000;
  
    
    .header_ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding: 0;
  
      .header_li {
        color: $color-darkBrown;
        padding: 0 30px;
        display: flex;
        align-items: center;
        border-right: 1px solid $color-pink;
      
        &:last-child {
          border: none;
        }
        a {
          font-family: $font-family-primary;
          font-weight: 400;
          font-size: 1.25rem;
          text-decoration: none;
          color: inherit;

        }
      }
      &:nth-of-type(1) .header_li:nth-child(2) a {
        border-bottom: 1px solid $color-darkBrown;
        display: inline;
      }
    }
    .header_logo {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
    
      transform: translateX(-50%);
      padding: 0;
    }
  }
}

.spaceholder {
  margin-top: 196px;
}

// .container {
//   background-color: aqua;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 100px;
//   padding: 500px auto 300px;
//   z-index: 1;
//   .images {
//     .parent {
//       position: relative;
//       z-index: 10;
//       .balloon3-right-btm {
//         position: relative;
//         display: inline-block;
//         margin: 1.5em 15px 1.5em 0;

//         padding: 0 5px;
//         width: 90px;
//         height: 90px;
//         line-height: 90px;
//         text-align: center;
//         color: #FFF;
//         font-size: 20px;
//         font-weight: bold;
//         background: #a58eff;
//         border-radius: 50%;
//         box-sizing: border-box;
//       }
      
//       .balloon3-right-btm:before {
//         content: "";
//         position: absolute;
//         bottom: -8px;
//         right: -8px;
//         margin-top: -15px;
//         border: 15px solid transparent;
//         border-left: 15px solid #a58eff;
//         z-index: 0;
//         -webkit-transform: rotate(45deg);
//         transform: rotate(45deg);
//       }
//     }
//     .child {
//       position: absolute;
//       top: 100px;
//       left: 109px;
//       z-index: -1;
//       animation: horizontal_ 4s linear infinite;
//     }
//   }

// @keyframes horizontal_ {
//   0%, 100% {
//     top: 26px;
//     left: 109px;
//   }

//   33% {
//     top: 20px;
//   }
//   66% {
//     top: 50px;
//   }
// }

//   .texts {
//     h1 {
//       font-size: 10rem;
//       font-family: $font-family-secondary;
//     }
//     h2 {
//       font-family: $font-family-primary;
//       font-size: 3rem;
//     }
//   }

// }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 500px auto 300px;
  z-index: 1;

  .images {
    .parent {
      position: relative;
      z-index: 10;

      .balloon3-right-btm {
        font-family: $font-family-secondary;
        position: absolute;  // ここをabsoluteに変更
        top: 0;  // 初期位置を指定
        left: -80px; // 初期位置を指定
        display: inline-block;
        margin: 1.5em 15px 1.5em 0;
        padding: 0 5px;
        width: auto;
        height: 90px;
        line-height: 90px;
        text-align: center;
        color: #FFF;
        font-size: 20px;
        font-weight: bold;
        background-color: $color-darkPink;
        border-radius: 50%;
        box-sizing: border-box;
      }

      .balloon3-right-btm:before {
        content: "";
        position: absolute;
        bottom: -8px;
        right: -8px;
        margin-top: 15px;
        border: 15px solid transparent;
        border-left: 20px solid $color-darkPink;
        z-index: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }

    .child {
      position: absolute;
      top: 100px;
      left: 109px;
      z-index: -1;
      animation: horizontal_ 4s linear infinite;
    }
  }

  @keyframes horizontal_ {
    0%, 100% {
      top: 26px;
      left: 109px;
    }

    33% {
      top: 20px;
    }

    66% {
      top: 50px;
    }
  }

  .texts {
    h1 {
      font-size: 10rem;
      font-family: $font-family-secondary;
      color: $color-darkGray;
    }

    h2 {
      font-family: $font-family-primary;
      font-size: 3rem;
    }
    .back {
      margin-top:40px;
      margin-bottom:40px;
      a:link, a:visited, a:hover, a:active {
        display: flex;
        justify-content: start;
        align-items: center;
        color:#725A58;
        text-decoration: none;
        img {
          // height: 20px;
          // vertical-align: middle;
          // padding-bottom: 5px;
          padding-right:10px;
          padding-bottom: 15px;
        }
        p{
          font-size: 1.25rem;
        }
      }
    }
  }
}

footer {
  bottom: 0;
  left:0;
  width: 100%;
  background-color: $color-paleWhite;
  .icon-box {
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 20px;
    .footer_logo {
      margin-bottom: 15px;
    }
    .footer_p {
      margin-bottom: 15px;
      font-size: 14px;
    }
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 66px;
    margin-bottom: 20px;
    ul {
      display: flex;
      justify-content: center;
      width: 85%;
      padding: 0;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      li {
        font-size: 20px;
        list-style: none;
        margin: 23px 20px;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:nth-child(2) {
          a {
            border-bottom: 1px solid $color-darkBrown;
            display: inline;
          }
        }
        a {
          font-family: $font-family-primary;
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
  .copyright {
    p {
      margin-bottom: 25px;
    }
    text-align: center;
    margin-bottom: 25px;
  }
}