@import './partials/variables';


* {
  margin: 0;
  padding: 0;
  font-family: $font-family-secondary;
}
html, body {
  margin: 0;
  padding: 0;
  background-color: $color-paleWhite;
}

header {
  .fixed-icon {
    img {
      width: 60px;
      height: 60px;
      position: fixed;
      top: 700px;
      right: 0;
    }
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 196px;
    background-color: $color-paleWhite;
    z-index: 10000;
  
    
    .header_ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding: 0;
  
      .header_li {
        color: $color-darkBrown;
        padding: 0 30px;
        display: flex;
        align-items: center;
        border-right: 1px solid $color-pink;
  
        &:last-child {
          border: none;
        }
        a {
          font-family: $font-family-primary;
          font-weight: 400;
          font-size: 1.25rem;
          text-decoration: none;
          color: inherit;
        }
      }
    }
    .header_logo {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
    
      transform: translateX(-50%);
      padding: 0;
    }
  }
}


.spaceholder {
  margin-top: 196px;
}



.section1 {
  background: url(/images/backgraound/2b23ea8143d3474490c0cd6c508cadb5\ 3.png);
  background-repeat: no-repeat;
  display: flex;
  .container {
    width: 100%;
    height: 625px;

    // background-size: 100%;
    .texts {
      position: relative;
      background-color: transparent;
      width: 607px;
      height: auto;
      text-align: center;
      margin: 0 auto;
      padding-bottom: 50px;
      margin: 250px auto 125px auto;
      // margin: 600px auto 300px auto;

      h2 {
        font-family: cursive;
        font-size: 80px;
        margin-bottom: 40px;
      }
      p {
        font-size: 18px;
        font-weight: 300;
        width: 488px;
        margin: 0 auto 40px auto;
        color: $color-paperWhite;
      }
      button {
        font-family: $font-family-primary;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 222px;
        height: 62px;
        border: 0.8px solid $color-paperWhite;
        color: $color-paperWhite;
        background-color: transparent;
        font-size: 1.25rem;
        font-weight: 400;
        font-size: 1.25rem;
      }
    }
  }
}

.section2 {
  background-color: $color-paleWhite;
  .main_component {
    background-color: transparent;
    width: auto;
    height: auto;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    z-index: 0;
    .card_container {
      height: auto;
      margin-right: 10px;

      .card {
        margin-top: 50px;
        position: relative;
        background-color: $color-paleWhite;
        border: 1px solid $color-black;
        z-index: 1000;

        .insta-account {
          position: absolute;
          top: 280px;
          left: 18px;
          display: flex;
          background-color: transparent;
          width: 120px;
          height: 28px;
          img {
            display: block;
          }
          .account-name {
            font-size: 1rem;
            font-weight: 300;
            text-align: center;
          }
        }

        .card_texts {
          background-color: $color-paleWhite;
          height: 77px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;
          text-align: center;

          p {
            width: 117px;
            height: 39px;
          }
        }
        &::after {
          content: '';
          position: absolute;
          top: -20px;
          left: 20px;
          width: 100%;
          height: 100%;
          border: 1px solid $color-pink;
          z-index: -1;
        }
      }
    }
    .text_aboutMe {
      width: 500px;
      height: 340px;
      position: relative;
      margin: 50px 0 50px 80px;
      .logo {
        position: absolute;
        left: 0;
        top: 0;
      }
      .texts {
        margin: 45px 0 0px 0;
        h2 {
          font-family: $font-family-primary;
          font-weight: 400;
          font-size: 3rem;
          // margin-top: 40px 0 5px 0;
        }
        p {
          width: 437px;
          font-weight: 300;
          font-size: 18px;
        }
      }
      button {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 160px;
        height: 62px;
        font-family: $font-family-primary;
        border: 0.8px solid $color-darkBrown;
        color: $color-darkBrown;
        background-color: transparent;
        font-size: 1.25rem;
        font-weight: 400;
      }
      .autograph {
        font-family: cursive;
        position: absolute;
        top: 240px;
        left: 200px;
        transform: rotate(-8deg);
        width: 248px;
        height: 42px;
        font-size: 60px;
        font-weight: 400;
      }
    }
  }
  .border_ {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-paleWhite;
    width: 863p;
    margin: 45px auto;
    border: none;
    p {
      color: $color-darkGray;
      width: 112px;
      height: 47px;
      padding: 10px;
      margin: 0;
      font-size: 18px;

    }
    hr {
      width: 375px;
    }
    
  }
  .brands-list {
    background-color: transparent;
    margin: 0 auto;
    width: 740px;
    height: auto;
    // margin: 50px auto 90px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    .brands-row {
      display: flex;
      justify-content: center;
      gap: 50px;
      .item {
        display: flex;
        align-items: center;
        gap: 100px;
      }
    }
  }
}

.section3 {
  // display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $color-lightPink;

  .head {
    position: relative;
    background-color: transparent;
    width: 835px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    margin-bottom: 50px;
    h2 {
      font-family: $font-family-primary;

      font-size: 80px;
      margin-bottom: 40px;
    }
    hr {
      width: 200px;
      size: 1px;
      margin: 0 auto 40px auto;
      color: $color-darkPink;
      
    }
    p {
      font-size: 18px;
      width: 437px;
      margin: 0 auto 40px auto;
    }
    button {
      font-family: $font-family-primary;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 160px;
      height: 62px;
      border: 0.8px solid $color-darkBrown;
      color: $color-darkBrown;
      background-color: transparent;
      font-size: 1.25rem;
      font-weight: 400;
    }
  }
  .body {
    .pictures {
      display: flex;
      justify-content: space-between;
    }
  }
  .foot {

    position: relative;
    background-color: transparent;
    width: 778px;
    height: auto;
    margin: 50px auto 0 auto;
    .text {
      padding-top: 50px;
      padding-bottom: 100px;
      .logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: (-50%);
      }
      p{
        font-family: $font-family-primary;
        font-size: 32px;
        font-weight: 400;
        text-align: center;
        
      }
      .cursol {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 332px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.section4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: auto;

  .texts {
    position: relative;
    background-color: transparent;
    width: 835px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    margin-bottom: 50px;
    margin-top: 100px;
    h2 {
      font-family: $font-family-primary;

      font-size: 80px;
      margin-bottom: 40px;
    }
    hr {
      width: 200px;
      size: 1px;
      margin: 0 auto 40px auto;
      color: $color-pink;
      
    }
    p {
      font-size: 18px;
      width: 437px;
      margin: 0 auto 40px auto;
    }
    button {
      font-family: $font-family-primary;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 160px;
      height: 62px;
      border: 0.8px solid $color-darkBrown;
      color: $color-darkBrown;
      background-color: transparent;
      font-size: 1.25rem;
      font-weight: 400;
    }
  }
  .photos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: auto;
    height: auto;
    margin-bottom: 100px;
  }
  .photo_party {
    position: relative;
    .text {
      position: absolute;
      bottom: 30px;
      left: -50px;
      font-family: $font-family-primary;
      font-size: 5.3rem;
      font-weight: 400;
      color: $color-lightPink;
      span {
        font-family: $font-family-primary;
        color: $color-darkPink;
      }
    }
  }

  .photo_wedding {
    margin: 50px 100px 0 100px;
    position: relative;
    z-index: 1000;
    &::after {
      content: '';
      position: absolute;
      top: -20px;
      left: 20px;
      width: 100%;
      height: 100%;
      border: 1px solid $color-pink;
      z-index: -1;
    }
    .text {
      position: absolute;
      bottom: 30px;
      left: -85px;
      font-family: $font-family-primary;
      font-size: 5.3rem;
      font-weight: 400;
      color: $color-lightPink;
      span {
        font-family: $font-family-primary;
        color: $color-darkPink;
      }
    }
  }

  .photo_photoshoot {
    position: relative;
    .text {
      position: absolute;
      bottom: 30px;
      left: -50px;
      font-family: $font-family-primary;
      font-size: 5.3rem;
      font-weight: 400;
      color: $color-lightPink;
      span {
        font-family: $font-family-primary;
        color: $color-darkPink;
      }
    }
  }

}

.section5 {
  margin-bottom: 100px;
  width: 100%;
  height: auto;
  background-color: transparent;
  .container {
    width: 1303px;
    height: auto;
    background-color: $color-lightPink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-family: $font-family-primary;
      font-size: 5rem;
      font-weight: 400;
      text-align: center;
      margin: 80px auto;
    }
    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      .text {
        position: relative;
        height: auto;
        padding-bottom: 90px;
        .item {
          position: relative;
          width: 538px;
          margin-bottom: 50px;

          .icon {
            img {
              position: absolute;
              top: 10px;
              left: 0;
            }
            p {
              position: absolute;
              width:auto;
              font-size: 30px;
              top: 50%;
              left: 100%;
              transform: translateX(-100%);

              // transform: translateY(-50%);
            }
          }
          h3 {
            font-family: $font-family-primary;
            font-size: 2rem;
            font-weight: 400;
            color: $color-darkBrown;
            margin-left: 40px;
            margin-bottom: 12px;

          }
          p {
            width: 420px;
            font-size: 18px;
          }
        }
        button {
          font-family: $font-family-primary;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 160px;
          height: 62px;
          border: 0.8px solid $color-darkBrown;
          color: $color-darkBrown;
          background-color: transparent;
          font-size: 1.25rem;
          font-weight: 400;
        }
      }
      .photo {
        position: relative;
        height: auto;
        z-index: 0;
        margin-left: 80px;
        margin-top: 0;
        &::after {
          content: "";
          position: absolute;
          top: 18px;
          left: 18px;
          width: 369px;
          height: 494px;
          border: 1px solid #e3b6b1;
          z-index: 100;
        }
      }
    }
  }
}

.section6 {
  margin-bottom: 100px;
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;
  justify-content: center;
  .container {
    background-color: transparent;
    width: 974px;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      font-family: $font-family-primary;
      font-size: 3rem;
      font-weight: 400;
      text-align: center;
      margin-bottom: 60px;
    }
    .videos {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 60px;
      .video2 {
        margin: 0 30px;
      }
    }
    .button {
      text-align: center;
      button {
        font-family: $font-family-primary;
        width: 222px;
        height: 62px;
        border: 0.8px solid $color-darkBrown;
        color: $color-darkBrown;
        background-color: transparent;
        font-size: 1.25rem;
        font-weight: 400;
      }
    }
  }
}

.section7 {
  width: 100%;
  height: 500px;
  background-color: transparent;
}


footer {
  // position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  // margin: 0 auto;
  background-color: $color-paleWhite;

  .icon-box {
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 20px;

    .footer_logo {
      margin-bottom: 15px;
    }

    .footer_p {
      margin-bottom: 15px;
      font-size: 14px;
    }
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 66px;
    margin-bottom: 20px;
  
    ul {
      display: flex;
      justify-content: center;
      width: 85%;
      padding: 0;
      border-top: 1px solid black;
      border-bottom: 1px solid black;

  
      li {
        font-size: 20px;
        list-style: none;
        margin: 23px 20px;
        padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;

  
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }

  .copyright {

    p {
      margin-bottom: 25px;
    }
    text-align: center;
    margin-bottom: 25px;
  }
}

