/*colors*/
$color-black: #191919;
$color-darkBrown: #725a58;
$color-pink: #e3b6b1;

$color-lightPink: #fae9e7;
$color-paleWhite: #f8f6f4;
$color-paperWhite: #fbfafa;


$color-midGray: #a3a3a3;
$color-darkGray: #535353;

$color-darkPink: #b99692;
$color-brown: #a06b67;

/*font-family*/
$font-family-primary: "Baskervville", serif;
$font-family-secondary: Avenir;






$color-gray: rgb(248, 246, 244);
