@import  '../partials/variables';

body {
  font-family: Baskervville ;
  background-color: #F8F6F4;

  header {
    .fixed-icon {
      img {
        width: 60px;
        height: 60px;
        position: fixed;
        top: 700px;
        right: 0;
      }
    }
    .header {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 30px;
      width: 100%;
      height: 196px;
      background-color: $color-paleWhite;
      z-index: 10000;
    
      
      .header_ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 0;
    
        .header_li {
          color: $color-darkBrown;
          padding: 0 30px;
          display: flex;
          align-items: center;
          border-right: 1px solid $color-pink;
    
          &:last-child {
            border: none;
          }
          a {
            font-family: $font-family-primary;
            font-weight: 400;
            font-size: 1.25rem;
            text-decoration: none;
            color: inherit;
          }
        }
      }
      .header_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
      
        transform: translateX(-50%);
        padding: 0;
      }
    }
  }

  // contact.html
  #contact-html { 
    margin:0 auto;
    padding-bottom: 100px;
    padding-top: 200px;
    
    &.closeContact {
      display:none;
    }

    .title {
      margin:0 auto;
      text-align: center;
      padding-bottom: 60px;
      color:#5E4A49;

      img {
        color: #5E4A49;
      }

      h1 {
        font-size: 5rem;
        font-weight: lighter;
      }

      hr {
        width: 200px;
      }

      p {
        width: 430px;
        margin: 0 auto;
        font-size: 1rem;
        padding-top: 60px;
        padding-bottom: 60px;
      }

      ul {
        display:flex;
        justify-content: center;
        padding: 0;
        margin: 0 auto;

        li {
          list-style-type: none;
          padding-right: 40px;

          img {
            padding-right: 10px;
            display: inline;
            vertical-align: middle;
          }
        }
      }
    }

    .form {
      padding: 60px 80px;
      max-width:768px;
      margin: 0 auto;
      background-color: #FAE9E7;

      
      .heading{
        display: flex;
        margin-bottom: 40px;

        h2 {
          font-weight: lighter;
        }

        .service {
          font-size: 2rem;
          width: 50%;
          padding-bottom: 10px;
          border-bottom: 1px solid #5E4A49;
          text-align: center;
        }

        .classes {
          font-size: 2rem;
          width: 50%;
          padding-bottom: 10px;
          text-align: center;
          color: #888888;
          border-bottom: 1px solid #888888;
        }
      }

      label {
        font-size: 2rem;
        margin-bottom: 10px;
        display:inline-block;
      }

      span {
        font-size: 1rem;
      }
      
      .event-type{
        padding-bottom: 40px;

        .type-option {
          background-color: white;
          display: inline-block;
          padding: 12px 16px;
          margin-right:10px;
          width: 27%;

          :last-of-type{
            margin-right:0px;
          }

          input {
            float: right;
          }
        }
      }

      .event-schedule{
        display: flex;
        margin: 0;

        .event-date{
          padding-bottom:40px;
          width: 45%;
          margin-right: 40px;

          #date {
            width: 95%;
            padding: 12px 16px;
            font-size: 1rem;
            margin-bottom: 10px;
          }
        }

        .event-time{
          padding-bottom:40px;
          width: 45%;

          #time{
            width: 95%;
            padding: 12px 16px;
            font-size: 1rem;
            margin-bottom: 10px;
          }
        }
      }
      
      .option{
        display: block;
        padding-bottom: 16px;
        accent-color: #B99692;
      }

      .name {
        padding-bottom: 40px;

        #name {
          width: 95%;
          padding: 12px 0px 12px 16px;
          font-size: 18px;
        }
      }

      .call-time {
        margin-bottom: 40px;
        display:none;

        &.appearTime{
          display: block;
        }
      }

      // wedding(contact)-detail.html

      .contact {

        .box {
          display:none;

          &.appear{
            display: block;
          }

          input {
            width: 95%;
            padding: 12px 0px 12px 16px;
            font-size: 1rem;
            margin-bottom: 20px;
          }
        }
        
      }

      .next {
        display: flex;
        justify-content: center;

        button{
          font-size: 1.25rem;
          background-color: #FAE9E7;
          border: 0.8px solid #5E4A49;
          padding: 24px 32px 24px 32px;
          box-shadow: none;
          width: 160px;
          font-family: Baskervville ;
        }
      }
    }
  }

  // wedding-detail

    #wedding {
      margin:0 auto;
      display: none;

      &.appearWedding{
        display: block;
      }
       
      input[type=checkbox]{
        border: solid #E3B6B1;
        accent-color: #E3B6B1;
      }
  
      .back {
        
        margin-top:40px;
        margin-bottom:40px;
  
        a:link, a:visited, a:hover, a:active {
          color:#725A58;
          text-decoration: none;
  
          img {
            height: 20px;
            vertical-align: middle;
            padding-bottom: 5px;
            padding-right:10px;
          }
  
          span{
            font-size: 1.25rem;
          }
        }
      }
  
      .form {
        padding: 60px 80px;
        max-width:768px;
        margin: 0 auto;
        background-color: #FAE9E7;
        
        .heading{
          display: flex;
          margin-bottom: 40px;
  
          h2 {
            font-weight: lighter;
          }
  
          .service {
            font-size: 2rem;
            width: 50%;
            padding-bottom: 10px;
            border-bottom: 1px solid #5E4A49;
            text-align: center;
          }
  
          .classes {
            font-size: 2rem;
            width: 50%;
            padding-bottom: 10px;
            text-align: center;
            color: #888888;
            border-bottom: 1px solid #888888;
          }
        }
  
        label {
          font-size: 2rem;
          margin-bottom: 16px;
          display:inline-block;
        }
  
        span {
          font-size: 1rem;
        }
        
        .braidal-service{
          padding-bottom: 40px;
          width: 102%;
  
          .type-option {
            background-color: white;
            display: inline-block;
            padding: 12px 16px;
            width: 44%;
  
            &:nth-of-type(1){
              margin-right:10px;
            }
  
            input {
              float: right;
            }
          }
        }
  
        .event-location{
          margin: 0;
          width: 100%;
          margin-bottom: 40px;
  
            #location {
              width: 100%;
              padding: 12px 16px;
              font-size: 1rem;
              margin-bottom: 10px;
              border:solid 1px #B99692;
            }
  
        }
  
        .premium-service {
          margin-bottom: 40px;
  
          ul {
            column-count: 2;
            padding-left: 0;
  
            li {
              list-style: none;
              padding-bottom: 16px;
              font-size: 1rem;
            }
          }
        }
  
      .service-person{
        margin-bottom: 40px;
  
        .person {
          display:flex;
          background-color: white;
          margin-bottom:10px;
          padding: 16px 21px;
          align-items: center;
          
  
          .person-left {
            width: 40%;
            display: flex;
            align-items: center;
  
            span {
              font-size: 1.25rem;
            }
          }
          
  
          .service-type{
            margin: 0 0 0 auto;
  
            #broom-servive{
              margin-right:0;
            }
  
            span {
              margin-left: 16px;
              font-size: 1.25rem;
              font-family: Avenir;
              font-weight: lighter;
              &:nth-of-type(1){
                margin-right: 40px;
              }
            }
          }
          
          input[type="number"]::-webkit-outer-spin-button,
          input[type="number"]::-webkit-inner-spin-button {
              -webkit-appearance: none;
              appearance: none;
              margin: 0;
            }
  
          input[type="number"] {
            text-align: center;
            border: 0px;
            background-color: #FAE9E7;
          }
  
          button.btn-number {
            width: 30px;
            height: 40px;
            border: 0px;
            background-color: #FAE9E7;
          }
  
          div.input-group {
          display: flex;
          margin-left: auto;
          padding-right: 30px;
          border-right:solid 1px #E3B6B1;
          font-size: 1.25rem;
          }     
        }
      }
  
      .message {
        margin-bottom: 40px;
        
        textarea {
          height:160px;
          width: 97%;
          padding:12px;
          border: none;
          font-size: 1rem;
        }
      }
  
        .submit {
          display: flex;
          justify-content: center;
  
          button{
            font-size: 1.25rem;
            background-color: #FAE9E7;
            border: 0.8px solid #5E4A49;
            padding: 24px 32px 24px 32px;
            box-shadow: none;
            width: 160px;
            font-family: Baskervville ;
          }
        }
      }
    }

  

  // // party-detail.html 
  // #party {
  //   .container {
  //     margin:0 auto;
       
  //     input[type=checkbox]{
  //       border: solid #E3B6B1;
  //       accent-color: #E3B6B1;
  //     }
  
  //     .back {
        
  //       margin-top:40px;
  //       margin-bottom:40px;
  
  //       a:link, a:visited, a:hover, a:active {
  //         color:#725A58;
  //         text-decoration: none;
  
  //         img {
  //           height: 20px;
  //           vertical-align: middle;
  //           padding-bottom: 5px;
  //           padding-right:10px;
  //         }
  
  //         span{
  //           font-size: 1.25rem;
  //         }
  //       }
  //     }
  
  //     .form {
  //       padding: 60px 80px;
  //       max-width:768px;
  //       margin: 0 auto;
  //       background-color: #FAE9E7;
        
  //       .heading{
  //         display: flex;
  //         margin-bottom: 40px;
  
  //         h2 {
  //           font-weight: lighter;
  //         }
  
  //         .service {
  //           font-size: 2rem;
  //           width: 50%;
  //           padding-bottom: 10px;
  //           border-bottom: 1px solid #5E4A49;
  //           text-align: center;
  //         }
  
  //         .classes {
  //           font-size: 2rem;
  //           width: 50%;
  //           padding-bottom: 10px;
  //           text-align: center;
  //           color: #888888;
  //           border-bottom: 1px solid #888888;
  //         }
  //       }
  
  //       label {
  //         font-size: 2rem;
  //         margin-bottom: 16px;
  //         display:inline-block;
  //       }
  
  //       span {
  //         font-size: 1rem;
  //       }
        
  //       .braidal-service{
  //         padding-bottom: 40px;
  //         width: 102%;
  
  //         .type-option {
  //           background-color: white;
  //           display: inline-block;
  //           padding: 12px 16px;
  //           width: 44%;
  
  //           &:nth-of-type(1){
  //             margin-right:10px;
  //           }
  
  //           input {
  //             float: right;
  //           }
  //         }
  //       }
  
  //       .event-location{
  //         margin: 0;
  //         width: 100%;
  //         margin-bottom: 40px;
  
  //           #location {
  //             width: 100%;
  //             padding: 12px 16px;
  //             font-size: 1rem;
  //             margin-bottom: 10px;
  //             border:solid 1px #B99692;
  //           }
  
  //       }
  
  //       .premium-service {
  //         margin-bottom: 40px;
  
  //         ul {
  //           column-count: 2;
  //           padding-left: 0;
  
  //           li {
  //             list-style: none;
  //             padding-bottom: 16px;
  //             font-size: 1rem;
  //           }
  //         }
  //       }
  
  //     .service-person{
  //       margin-bottom: 40px;
  
  //       .person {
  //         display:flex;
  //         background-color: white;
  //         margin-bottom:10px;
  //         padding: 16px 21px;
  //         align-items: center;
          
  
  //         .person-left {
  //           width: 40%;
  //           display: flex;
  //           align-items: center;
  
  //           span {
  //             font-size: 1.25rem;
  //           }
  //         }
          
  
  //         .service-type{
  //           margin: 0 0 0 auto;
  
  //           #broom-servive{
  //             margin-right:0;
  //           }
  
  //           span {
  //             margin-left: 16px;
  //             font-size: 1.25rem;
  //             font-family: Avenir;
  //             font-weight: lighter;
  //             &:nth-of-type(1){
  //               margin-right: 40px;
  //             }
  //           }
  //         }
          
  //         input[type="number"]::-webkit-outer-spin-button,
  //         input[type="number"]::-webkit-inner-spin-button {
  //             -webkit-appearance: none;
  //             appearance: none;
  //             margin: 0;
  //           }
  
  
  //         input[type="number"] {
  //           text-align: center;
  //           border: 0px;
  //           background-color: #FAE9E7;
  //         }
  
  //         button.btn-number {
  //           width: 30px;
  //           height: 40px;
  //           border: 0px;
  //           background-color: #FAE9E7;
  //         }
  
  //         div.input-group {
  //         display: flex;
  //         margin-left: auto;
  //         padding-right: 30px;
  //         border-right:solid 1px #E3B6B1;
  //         font-size: 1.25rem;
  //         }     
  //       }
  //     }
  
  //     .message {
  //       margin-bottom: 40px;
        
  //       textarea {
  //         height:160px;
  //         width:97%;
  //         padding:12px;
  //         border: none;
  //         font-size: 1rem;
  //       }
  //     }
  
  //       .submit {
  //         display: flex;
  //         justify-content: center;
  
  //         button{
  //           font-size: 1.25rem;
  //           background-color: #FAE9E7;
  //           border: 0.8px solid #5E4A49;
  //           padding: 24px 32px 24px 32px;
  //           box-shadow: none;
  //           width: 160px;
  //           font-family: Baskervville ;
  //         }
  //       }
  //     }
  //   }
  // }
  

  // photoshoot-confirm
    #confirm {
      margin:0 auto;
      display: none;

      &.appearConfirm {
        display: block;
      }
       
      .form {
        padding: 60px 80px;
        max-width:768px;
        margin: 0 auto;
        background-color: #FAE9E7;
        
        .heading{
          display: flex;
          margin-bottom: 40px;
  
          h2 {
            font-weight: lighter;
          }
  
          .service {
            font-size: 2rem;
            width: 50%;
            padding-bottom: 10px;
            border-bottom: 1px solid #5E4A49;
            text-align: center;
          }
  
          .classes {
            font-size: 2rem;
            width: 50%;
            padding-bottom: 10px;
            text-align: center;
            color: #888888;
            border-bottom: 1px solid #888888;
          }
        }
  
        label {
          font-size: 2rem;
          margin-bottom: 16px;
          display:inline-block;
        }
  
        span {
          font-size: 1rem;
        }
  
          .message{
  
            margin-bottom: 40px;
  
            h1 {
              font-size: 3rem;
              color:#725A58;
              font-weight: lighter;
              margin: 0;
            }
  
            p{
              font-family: avenir;
            }
  
          }
  
            .confirm {
  
              border: solid 1px #A06D67;
  
              .image {
                img {
                  width:600px;
                  margin: auto;
                  display: block;
                  margin-top: 40px;
                  margin-bottom: 40px;
                }
              }
  
              .icon {
                margin-left:83px;
              }
  
              .bottom {
                justify-content: space-between;
                display: flex;
  
                .contact {
                  ul {
                    display:flex;
                    padding:0;
                    margin-left:83px;
                    margin-bottom: 0;
                    margin-top:30px;
  
                    li {
                      list-style: none;
                      color: #725A58;
  
                      &:nth-of-type(2){
                        margin-left: 15px;
                      }
  
                      img {
                        display: inline;
                        vertical-align: middle;margin-right: 7px;
  
                      }
                    }
                  }
                }
  
                .share {
                  margin-right:83px;
                  margin-bottom: 40px;
  
                  button{
                    font-size: 1.25rem;
                    background-color: #FAE9E7;
                    border: 0.8px solid #5E4A49;
                    padding: 24px 32px 24px 32px;
                    box-shadow: none;
                    width: 160px;
                    height: 62px;
                    font-family: Baskervville ;
                    color: #725A58;
                    display: flex;
                    justify-content: center; 
                    align-items: center;
  
                  }
                }
              }
              
            }
     }
    }
  
  

  // footer

  footer {
    // position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    // margin: 0 auto;
    background-color: $color-paleWhite;
  
    .icon-box {
      text-align: center;
      justify-content: center;
      margin-top: 25px;
      margin-bottom: 20px;
  
      .footer_logo {
        margin-bottom: 15px;
      }
  
      .footer_p {
        margin-bottom: 15px;
        font-size: 14px;
      }
    }
    .navbar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      height: 66px;
      margin-bottom: 20px;
    
      ul {
        display: flex;
        justify-content: center;
        width: 85%;
        padding: 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
  
    
        li {
          font-size: 20px;
          list-style: none;
          margin: 23px 20px;
          padding: 0 20px;
          display: flex;
          justify-content: center;
          align-items: center;
  
    
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
  
    .copyright {
  
      p {
        margin-bottom: 25px;
      }
      text-align: center;
      margin-bottom: 25px;
    }
  }
}

