body {
  font-family: Baskervville ;
  background-color: #F8F6F4;

  .container {
    margin:0 auto;
     
    input[type=checkbox]{
      border: solid #E3B6B1;
      accent-color: #E3B6B1;
    }

    .back {
      
      margin-top:40px;
      margin-bottom:40px;

      a:link, a:visited, a:hover, a:active {
        color:#725A58;
        text-decoration: none;

        img {
          height: 20px;
          vertical-align: middle;
          padding-bottom: 5px;
          padding-right:10px;
        }

        span{
          font-size: 1.25rem;
        }
      }
    }

    .form {
      padding: 60px 80px;
      max-width:768px;
      margin: 0 auto;
      background-color: #FAE9E7;
      
      .heading{
        display: flex;
        margin-bottom: 40px;

        h2 {
          font-weight: lighter;
        }

        .service {
          font-size: 2rem;
          width: 50%;
          padding-bottom: 10px;
          border-bottom: 1px solid #5E4A49;
          text-align: center;
        }

        .classes {
          font-size: 2rem;
          width: 50%;
          padding-bottom: 10px;
          text-align: center;
          color: #888888;
          border-bottom: 1px solid #888888;
        }
      }

      label {
        font-size: 2rem;
        margin-bottom: 16px;
        display:inline-block;
      }

      span {
        font-size: 1rem;
      }
      
      .braidal-service{
        padding-bottom: 40px;

        .type-option {
          background-color: white;
          display: inline-block;
          padding: 12px 16px;
          width: 44%;

          &:nth-of-type(1){
            margin-right:10px;
          }

          input {
            float: right;
          }
        }
      }

      .event-location{
        margin: 0;
        width: 100%;
        margin-bottom: 40px;

          #location {
            width: 100%;
            padding: 12px 16px;
            font-size: 1rem;
            margin-bottom: 10px;
            border:solid 1px #B99692;
          }

      }

      .premium-service {
        margin-bottom: 40px;

        ul {
          column-count: 2;
          padding-left: 0;

          li {
            list-style: none;
            padding-bottom: 16px;
            font-size: 1rem;
          }
        }
      }

    .service-person{
      margin-bottom: 40px;

      .person {
        display:flex;
        background-color: white;
        margin-bottom:10px;
        padding: 16px 21px;
        align-items: center;
        

        .person-left {
          width: 40%;
          display: flex;
          align-items: center;

          span {
            font-size: 1.25rem;
          }
        }
        

        .service-type{
          margin: 0 0 0 auto;

          #broom-servive{
            margin-right:0;
          }

          span {
            margin-left: 16px;
            font-size: 1.25rem;
            font-family: Avenir;
            font-weight: lighter;
            &:nth-of-type(1){
              margin-right: 40px;
            }
          }
        }
        
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
          }


        input[type="number"] {
          text-align: center;
          border: 0px;
          background-color: #FAE9E7;
        }

        button.btn-number {
          width: 30px;
          height: 40px;
          border: 0px;
          background-color: #FAE9E7;
        }

        div.input-group {
        display: flex;
        margin-left: auto;
        padding-right: 30px;
        border-right:solid 1px #E3B6B1;
        font-size: 1.25rem;
        }     
      }
    }

    .message {
      margin-bottom: 40px;
      
      textarea {
        height:160px;
        width:100%;
        padding:12px;
        border: none;
        font-size: 1rem;
      }
    }

      .submit {
        display: flex;
        justify-content: center;

        button{
          font-size: 1.25rem;
          background-color: #FAE9E7;
          border: 0.8px solid #5E4A49;
          padding: 24px 32px 24px 32px;
          box-shadow: none;
          width: 160px;
          font-family: Baskervville ;
        }
      }
    }
  }
}

